<h2>Congrats, you passed! Here is your next riddle</h2>

<form action="/question3" method="post">
  <div class="form-group">
    <label for="question2">NAPOLEON <br><br> loves Beethoven, but not Brahms <br> loves Jefferson, but not Lincoln <br> loves Kant, but not SPinoza or Heidegger <br> loves George II, but not Nebuchadnezzar or Sargon <br> loves hot air balloons, but not bicyles. <br><br> 2. Which does Napoleon love: ice cream, Doberman Pinschers, the cinema, or cuneiform?</label>
    <input id="question2" name="question2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Submit</button>
</form>
