<h2>Here is your first riddle</h2>

<form action="/question1" method="post">
  <div class="form-group">
    <label for="question1">1. What number is missing in this sequence? 34 21 13 8 5 </label>
    <input id="question1" name="question1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Go!</button>
</form>
