<h2>Only one left! Here is your final riddle</h2>

<form action="/question3" method="post">
  <div class="form-group">
    <label for="question3">3. What goes on four feet in the morning, two feet at noon, and three feet in the evening?</label>
    <input id="question3" name="question3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Go!</button>
</form>
